/* Header styles */
.header-left {
  display: flex;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.header-left input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-left button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3D6094;
  color: white;
  cursor: pointer;
}

.header-left button:hover {
  background-color: #3D6094;
}

.header-right .profile-pic {
  width: 40px;
  height: 40px; 
  border-radius: 50%;
}

main {
  padding: 20px;
}

.movie-detail .movie-header {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.movie-detail .movie-header img {
  width: 100%;
  height: auto;
  max-height: 480px; /* 원하는 최대 높이 설정 */
  border-radius: 8px;
}

.movie-detail .movie-header .movie-header-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* 아래쪽에 위치 */
  align-items: flex-start; /* 왼쪽에 위치 */
  color: white;
  padding: 20px;
  text-align: left;
}

.movie-detail .movie-header .movie-header-overlay h1 {
  margin: 0;
  font-size: 24px; 
  font-weight: bold;
}

.movie-header-overlay p {
  margin: 5px 0;
  font-size: 16px; 
  font-weight: 500;
}

.movie-detail .movie-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.movie-detail .movie-details .movie-details-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 30px; 
  border-bottom: 2px solid #ddd; 
  padding-bottom: 30px;
}

.movie-detail .movie-details .movie-details-content img {
  max-width: 267px; 
  max-height: 381px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover; 
  flex-shrink: 0;
}

.movie-detail .movie-info {
  max-width: 1000px; 
  max-height: 350px;
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.movie-detail .stars {
  gap: 50px;
  font-size: 50px;
}

.movie-detail .rating-score {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 30px;
  gap: 50px;
  font-size: 20px;
}

.movie-detail .rating-score .expected-score {
  color: gray;
}

.movie-detail .rating-score .average-score {
  color: gray;
}

.rating-score .score-item {
  width: 100px;
}

.movie-detail .star-display-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  gap: 120px; 
  margin-right: 100px; 
}

.movie-detail .star-display-container p{
  width: 150px;
}

.movie-detail .movie-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 20px;
  margin-top: 10px; 
}

.movie-detail .movie-buttons button {
  width: 100px; 
  height: 30px;
  font-size: 15px;
  padding: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094;
  align-self: center;
  margin: 0;
}

.movie-detail .movie-buttons button:hover {
  background-color: #2C4870; 
}


.movie-details .movie-overview {
  width: 100%;
  margin-bottom: 30px;
}


.movie-details .movie-overview h2 {
  font-size: 18px;
}

.movie-details .movie-overview p {
  min-width: 100px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  width: 100%;
}

.movie-detail .review-list,
.movie-detail .still-list,
.movie-detail .review-video-item {
  display: flex;
  gap: 20px;
}

.movie-detail .review-item,
.movie-detail .trailer-item {
  text-align: center;
}

.movie-detail .cast-item img,
.movie-detail .still-list img {
  width: 100px;
  height: auto;
}

.movie-detail .trailer-item,
.movie-detail .review-video-item {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  text-align: center;
}


.movie-detail .trailer-list{
  display: flex;
  flex-wrap: wrap;
  gap: 16.5px;
}
.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons .cancel {
  background-color: #ccc;
  color: white;
}

.popup-buttons .save {
  background-color: #3D6094;
  color: white;
}

#close-popup {
  background-color: #ccc;
  color: black;
}

#close-popup:hover {
  background-color: #ccc;
}

.popup-buttons button:last-child {
  background-color: #3D6094;
  color: white;
}

.popup-buttons button:last-child:hover {
  background-color: #3D6094;
}

.popup-content input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.all-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all-reviews-list .review-item {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

#close-all-reviews-popup {
  /* background-color: #3D6094;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; */
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: black;
  opacity: 0.5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#close-all-reviews-popup:hover {
  background-color: #3D6094;
}

.movie-stills{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.movie-stills .still-list {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  padding: 10px 0;
}

.movie-stills .still-list img {
  margin-right: 10px;
  width: 300px;
  height: auto;
}

.movie-stills .more-button {
  width: 80px; 
  height: 30px;
  font-size: 15px; 
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094; 
  align-self: center; 
}

.movie-stills .more-button:hover {
  background-color: #3D6094;
}

.stills-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.stills-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.stills-modal-list {
  display: flex;
  flex-wrap: wrap;
}

.stills-modal-list img {
  margin: 5px;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: black;
  opacity: 0.5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  color: red;
}

.current-still-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.current-still-modal-content {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.current-still-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.movie-detail .cast-item {
  text-align: center;
}

.movie-detail .cast-item img {
  width: 117px;
  height: auto;
}
.movie-cast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -30px;
}

.movie-cast .cast-list {
  display: flex;
  gap: 50px;
  max-height: 400px;
  overflow-y: auto;
  justify-content: center;
}

.movie-cast .more-button-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
  margin-top: 10px;
}

.movie-cast .more-button {
  width: 80px; 
  height: 30px;
  font-size: 15px; 
  padding: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094;
  align-self: center; 
}

.all-actors-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.trailer-list iframe {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  border: none;
  margin: 5px; 
}

.rating-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.rating-popup.show {
  display: block; 
}

.review-video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.more-button-container {
  display: flex;
  justify-content: center;
  width: 100%; 
  margin-top: 10px; 
}

.movie-review-videos .more-button {
  width: 80px; 
  height: 30px; 
  font-size: 15px; 
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094;
  align-self: center; 
}

.more-button:hover {
  background-color: #3D6094; 
}

.all-review-videos-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} 

.popup-content{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
} 
.review-video-list iframe{
  margin: 5px;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}
.movie-reviews {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.movie-reviews h2 {
  padding: 0 0;
  text-align: left; 
}

.movie-reviews .review-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  padding: 0 20px;
}

.movie-reviews .review-item {
  flex: 1 1 300px; 
  max-width: 400px; 
  border: 1px solid #ccc; 
  padding: 16px; 
  box-sizing: border-box; 
  border-radius: 10px;
}


.movie-reviews .more-button {
  width: 80px; 
  height: 30px; 
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094;
  align-self: center; 
  margin-top: 1%;
}

.movie-reviews .more-button:hover {
  background-color: #3D6094;
}